# PostgreSQL
POSTGRES_DB=bedem
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# pgAdmin
PGADMIN_EMAIL=admin@bedem.rs
PGADMIN_PASSWORD=your_pgadmin_password_here

# JWT
JWT_SECRET=your_jwt_secret_min_32_chars_here
JWT_ISSUER=BedemApi
JWT_AUDIENCE=BedemApp
